{{#each surveys}}
  <div class="panel-body">
    <div class="media">
        <button class="btn btn-warning" id="{{_id}}"> {{title}} </button>
      </div>
    </div>
{{/each}}
<!-- <div id="get-every-survey">
<button id="123456" class="btn btn-warning">Take this survey!</button>
<button id="958763" class="btn btn-warning ">No, this one!</button>
<button class="btn btn-warning">Best Survey here!</button>
</div> -->
