<table class="questions_table">
  <thead>
    <tr>
      <th>{{Survey_name}}</th>
    </tr>
  </thead>
  <tbody>
    {{#Questions}}
      <tr>
        <th>
          <td>{{answers}}</td>
        </th>
      </tr>
    {{/Questions}}
    <td><button class="btn btn-default submit-answers" type="submit" data-id={{id}}>Submit Answers</button></td>
  </tbody>
</table>
