$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background: #d7e6fa;
  text-align: center;

}
@font-face {
  font-family: 'armalite_rifleregular';

}

form {
  margin: 10;
  //text-align: center;
}

input {
  height: 30px;
//  width: 300px;
}

button,
input,
textarea {
  border: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  outline: none;
  padding: 5px 10px;
  margin: 20px;
  text-align: center;
}



label {
  padding-top: 20px;
}

.question {
  padding-top: 20px;
}

#survey-questions {
  text-align: center;
}

// #take-a-survey {
//   border: 10pt, black;
//   text-align: center;
//   // position:absolute;
// }
// .question {
//   text-align: center;
//
// }
//
// .table{
//     display:table;
//     width:100%;
//     table-layout:fixed;
// }
// .table_cell{
//     display:table-cell;
//     width:100px;
//     border:solid black 1px;
// }

// .radio > input{
//   position: relative;
//   display: inline-block;
//   text-align: left;
//   border: black, 5px;
//   left: -130px;
// }




// #add-another-answer {
//   position: absolute;
//   bottom: 190px;
// }

// #complete-survey-creation {
//   position: absolute;;
//   bottom: 140px;
//   align-items: center;
//   right: 795px;
//   left: 795px;
// }
//
// #delete-a-survey{
//   position: absolute;
//   bottom: 90px;
//   align-items: center;
//   right: 838px;
//   left: 836px;
// }
